.header{
  width: 1920px;
  height: 90px;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.logoCharacter{
  display: flex;
  align-items: center;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.50));
  height: 100%;

  margin-left: 31px;
  
}